.column {
  width: 30%;
  height: 190px;
  float: left;
  margin: 18px;
  text-align: justify;
  border: 2px solid;
  height: 500px;
  padding: 30px;
  text-align: left;
  font-size: 12pt;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  

}
.jumbotron {
  text-align: justify;
  font-size: 16pt;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  border: solid #fff;
  border-width: 3px;
}
.head {
  text-align: center;
  padding: 30px;
}
img {
  float: right;
  padding: 2px;
  width: 90px;
  border: solid;
  position: relative;
  top: -100px;
}
body {
  background-image: url("/img/teaparty.JPG");
  background-attachment: static;
  background-size: cover;
}
.footer {
  border:2px solid;
  height:400px;
  text-align: justify;
  float: left;
  padding: 40px;
  font-size: 12pt;
  background-color: rgba(0,0,0,.5);
  color: #fff;

}
