.column {
  width: 32%;
  height: 190px;
  float: left;
  margin: 7px;
  text-align: justify;
}
.jumbotron {
  background: #d4caca;
  border: solid #4c5c68;
  border-width: 3px;
}
.head {
  text-align: center;
}
img {
  float: right;
  padding: 2px;
  width: 90px;
  border: solid;
  position: relative;
  top: -100px;
}